<footer>
  <div class="footer">
    <a href="https://twitter.com/st0ic3r">
      <i class="fab fa-twitter"></i>
    </a>    
    <a href="http://instagram.com/st0ic3r">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://github.com/malladisiddu">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/siddartha-malladi/">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="mailto:malladisiddu@gmail.com">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
</footer>
